@define-color colorPrimary #f5f5f5;
@define-color appPrimary #c6262e;
@define-color textColorPrimary #333333;

.titlebar {
    background-color: @colorPrimary;
    border: none;
    color: @textColorPrimary;
}

.beemy-toolbar {
    background: @colorPrimary;
    color: @textColorPrimary;
    padding: 6px;
}

.color-button {
    border-radius: 50%;
    background-image: none;
    padding: 5px;
    border: none;
    box-shadow: 0 3px 3px 0 alpha (shade(@appPrimary, 1.05), 0.3);
}

.color-button:hover,
.color_button:focus {
    box-shadow: 0 3px 3px 0 alpha (@appPrimary, 0.9);
}

.color-button:insensitive {
    box-shadow: 0 3px 3px 0 alpha (shade(@appPrimary, 0.2), 0.3);
}

.color-button-action {
    background-color: @appPrimary;
    color: #FFF;
}

.color-button-action:insensitive {
    background: shade(@appPrimary, 0.88);
}

.color-button-action image:insensitive {
    color: #CCC;
}

.overweight-label {
    color: @STRAWBERRY_700;
    font-weight: 300;
}

.obese-label {
    color: @BANANA_700;
    font-weight: 300;
}

.healthy-label {
    color: @LIME_700;
    font-weight: 300;
}

.underweight-label {
    color: @GRAPE_700;
    font-weight: 300;
}
